
<link rel="stylesheet" href="/components/email-editor/email-editor.css">
<link rel="stylesheet" href="/styles/jquery-ui-1.10.3.custom.css">

<div id="email-editor">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-ng-click="editorCtrl.undo()">Undo</a></li>
                <li><a href="#" data-ng-click="editorCtrl.redo()">Redo</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <!-- Left side bar -->
            <div class="col-xs-12 col-md-2" id="design-options">
                <div class="row">
                    <div class="col-xs-12 col-md-3" id="design-menu">
                        <ul>
                            <li data-ng-class="{active: editorCtrl.layoutsVisible }">
                                <a href="javascript:;" data-ng-click="editorCtrl.showLayouts()">Layouts</a>
                            </li>
                            <li data-ng-class="{active: editorCtrl.designsVisible }">
                                <a href="javascript:;" data-ng-click="editorCtrl.showDesigns()">Designs</a>
                            </li>
                            <li data-ng-class="{active: editorCtrl.contentBlocksVisible }">
                                <a href="javascript:;" data-ng-click="editorCtrl.showContentBlocks()">Content Blocks</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-offset-3 col-md-9" id="layout-content-blocks">
                        <div class="row" data-ng-show="editorCtrl.contentBlocksVisible">
                            <div class="draggable-content-block col-xs-12" data-ng-repeat="block in editorCtrl.contentBlocks"></div>
                        </div>
                        <div class="row" data-ng-show="editorCtrl.designsVisible"></div>
                        <div class="row" data-ng-show="editorCtrl.layoutsVisible">
                            <div class="col-xs-12" data-ng-repeat="layout in editorCtrl.layouts">
                                <div data-dropped-html="{{::layout.html}}">
                                    <img data-ng-src="{{layout.thumbnailUrl}}" alt="{{layout.name}}" class="img-polaroid"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end side bar-->
            <!-- content -->
            <div class="col-xs-12 col-md-offset-2 col-md-10" id="content">
                <editor-canvas class="content"
                  data-get-message="editorCtrl.getMessage(id, messageType)"
                  data-undo-redo-promise="editorCtrl.undoRedoPromise" 
                  data-perform-undo-redo="editorCtrl.performUndoRedo">
                </editor-canvas>
            </div>
            <!--end content-->
        </div>
    </div>
    <div id="viewTemplates" data-ng-show="false">
        <img src="/Images/editorcontentactivedrag.png" class="draggableContentBlockDrag" style="position:relative; z-index:10000; top:-75px; left:95px;" />
        <table class="drop-here row">
            <tr><td><div><img src="/Images/editortableactivedrag.png" /><p>Drop Here!</p></div></td></tr>
        </table>

        <div class="content-block-overlay"></div>
        <div class="content-block-menu-bar ui-corner-all clearfix">
            <a href="javascript:;" title="Move" class="drag btn btn-inverse text-center"><i class="glyphicon glyphicon-move"></i></a>
            <a href="javascript:;" title="Duplicate" class="btn btn-inverse text-center duplicate"><i class="glyphicon glyphicon-duplicate"></i></a>
            <a href="javascript:;" title="Edit" class="btn btn-inverse text-center edit"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="javascript:;" title="Delete" class="btn btn-inverse text-center delete"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
    </div>
</div>
